@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=latin,cyrillic,cyrillic-ext');

body {
    font-family: 'Open Sans';
    padding-top: 20px;
    padding-bottom: 20px;
}

.container.home {
    margin-top: 50px;
}

.container.home h1 {
    margin-bottom: 30px;
}

.container.home table {
    font-size: 16px;
}

.top-panel {
    margin-bottom: 30px;
}

#firm_copy_table {
    display: none;
}
